<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sentiment Analysis</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">

</head>
<body>
    <div class="background">
        <div class="container">
            <h1>Sentiment Analysis</h1>
            <form action="/analyze.py" method="post" class="form-group">
                <label for="text">Please enter the sentiment you wish to analyze:</label><br>
                <input type="text" id="text" name="text"><br>
                <button type="submit" class="btn">Analyze</button>
            </form>
        </div>
    </div>
</body>
</html>